@model BussinessObject.DTOS.User.LoginVM

<!doctype html>
<html lang="en">
@{
    Layout = "_LoginLayout";
}
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="fonts/icomoon/style.css">
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- Style -->
    <link rel="stylesheet" href="css/style.css">

    <title>Login</title>
</head>
<body>
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-md-6 order-md-2">
                    <img src="@Url.Content("~/assets/img/undraw_file_sync_ot38.svg")" alt="Image" class="img-fluid">
                </div>
                <div class="col-md-6 contents">
                    <div class="row justify-content-center">
                        <div class="col-md-8">
                            <div class="mb-4">
                                <h3>Sign In to <strong>Web PRN231</strong></h3>
                                <p class="mb-4">Welcome to us.</p>
                            </div>
                            <!-- Form đăng nhập -->
                            <form asp-action="Login" method="post">
                                <!-- Hiển thị lỗi tổng quát từ ModelState -->
                                <div asp-validation-summary="All" class="text-danger mb-3"></div>

                                <div class="form-group first">
                                    <label asp-for="UserName" class="form-label"></label>
                                    <input asp-for="UserName" class="form-control" id="username" />
                                    <span asp-validation-for="UserName" class="text-danger"></span>
                                </div>

                                <div class="form-group last mb-4">
                                    <label asp-for="Password" class="form-label"></label>
                                    <input asp-for="Password" type="password" class="form-control" id="password" />
                                    <span asp-validation-for="Password" class="text-danger"></span>
                                </div>

                                <div class="d-flex justify-content-start align-items-center mb-4">
                                    <input type="submit" value="Log In" class="btn btn-success me-2">
                                    <a href="@Url.Action("Register", "LoginAndRegister")" class="btn btn-success">Register</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
<script src="~/js/main.js"></script>
</body>
</html>
