@model BussinessObject.DTOS.User.RegisterVM

<!doctype html>
<html lang="en">
@{
    Layout = "_LoginLayout";
}
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="fonts/icomoon/style.css">
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- Style -->
    <link rel="stylesheet" href="css/style.css">

    <title>Register</title>
</head>
<body>
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <img src="@Url.Content("~/assets/img/undraw_file_sync_ot38.svg")" alt="Image" class="img-fluid">
                </div>
                <div class="col-md-6 contents">
                    <div class="row justify-content-center">
                        <div class="col-md-8">
                            <div class="mb-4">
                                <h3>Create an Account for <strong>Web PRN231</strong></h3>
                                <p class="mb-4">Join us today.</p>
                            </div>
                            <form asp-action="Register" method="post">
                                <div class="form-group first">
                                    <label asp-for="Email" class="form-label"></label>
                                    <input asp-for="Email" class="form-control" />
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Username" class="form-label"></label>
                                    <input asp-for="Username" class="form-control" />
                                    <span asp-validation-for="Username" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Password" class="form-label"></label>
                                    <input asp-for="Password" type="password" class="form-control" />
                                    <span asp-validation-for="Password" class="text-danger"></span>
                                </div>
                                <div class="form-group last mb-4">
                                    <label asp-for="ConfirmPassword" class="form-label"></label>
                                    <input asp-for="ConfirmPassword" type="password" class="form-control" />
                                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                </div>
                                <button type="submit" class="btn btn-success">Register</button>
                                <div class="mt-4">
                                    <p>Already have an account? <a href="@Url.Action("Login", "LoginAndRegister")" class="btn btn-success">Log In</a></p>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>
</body>
</html>
