@{
    ViewData["Title"] = "Dashboard";
}





<h5> Web quản lý tài liệu là một hệ thống trực tuyến được thiết kế để lưu trữ, tổ chức, truy xuất và chia sẻ tài liệu một cách hiệu quả.
    Hệ thống này thường được sử dụng bởi các doanh nghiệp, tổ chức giáo dục và cá nhân để quản lý thông tin và tài liệu một cách dễ dàng và an toàn</h5>